<?xml version="1.0"?>
<config>
    <modules>
        <Divante_CodFee>
            <version>1.0.0</version>
        </Divante_CodFee>
    </modules>
    <global>
        <models>
            <divante_codfee>
                <class>Divante_CodFee_Model</class>
                <resourceModel>divante_codfee_resource</resourceModel>
            </divante_codfee>
            <divante_codfee_resource>
                <class>Divante_CodFee_Model_Resource</class>
                <entities>
                    <fee>
                        <table>divante_codfee_fee</table>
                    </fee>
                </entities>
            </divante_codfee_resource>
        </models>
        <blocks>
            <divante_codfee>
                <class>Divante_CodFee_Block</class>
            </divante_codfee>
        </blocks>
        <helpers>
            <divante_codfee>
                <class>Divante_CodFee_Helper</class>
            </divante_codfee>
        </helpers>
        <resources>
            <divante_codfee_setup>
                <setup>
                    <module>Divante_CodFee</module>
                </setup>
            </divante_codfee_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <cod_fee>
                        <class>divante_codfee/total</class>
                        <after>shipping</after>
                        <before>grand_total</before>
                    </cod_fee>
                </totals>
            </quote>
        </sales>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Divante_CodFee before="Mage_Adminhtml">Divante_CodFee_Adminhtml</Divante_CodFee>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>